.postingList {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    flex-wrap: nowrap;
    
    &:hover {
        cursor: pointer;
    }
}